.thumbnail {
    border-radius: 0;
    height: 200px;
    width: 360px;
    margin-right: 20px;
    padding: 0;
    -webkit-box-shadow: 0 10px 6px -6px #777;
    -moz-box-shadow: 0 10px 6px -6px #777;
    box-shadow: 0 10px 6px -6px #777;
}

.info-block {
    margin-top: 50px;
    margin-left: 15px;
    padding: 0;
}

.running {
    color: #00d269;
}

.ended {
    color: #bf0000;
}

img {
    margin-right: 10px;
    height: 200px;
    float: left;
}


/* Red to grey heart */

.red-heart.glyphicon-heart {
    color: #ff0000;
    cursor: pointer;
    font-size: 30px;
    text-decoration: none;
}

.red-heart.glyphicon-heart:hover {
    color: #ad0000;
    cursor: pointer;
    font-size: 30px;
    text-decoration: none;
    transition: all 100ms ease-in;
}



/* Medium devices (desktops, 992px and up) */
@media (max-width: 1200px) {
    .thumbnail{
        width: 40%;
    }




}

/* Medium devices (desktops, 992px and up) */
@media (max-width: 992px) {

    .thumbnail{
        width: 44%;
    }

    .info-block {
        margin-left: 25px
    }


}



/* Medium devices (desktops, 992px and up) */
@media (max-width: 780px) {

    .thumbnail{
        width: 100%;
        height: 300px;
    }

    .info-block {
        margin-left: -10px;
    }

    img {
        height: 300px
    }

}

/* Extra small devices (portrait phones, less than 544px) */
@media (max-width: 703px) {


    .info-block {
        margin-left: 40px;
    }
}


/* Extra small devices (portrait phones, less than 544px) */
@media (max-width: 543px) {
    .thumbnail{
        width: 100%;
        height: 280px;
    }

    img {
        height: 280px
    }


    .info-block {
        margin-left: 70px;
    }

    .info-block p {
        width: 170px;
    }






}




